* {
    font-family: system-ui
}

html {
    background-color: #022413;
    color: var(--foreground-color);
}

:root {
    --foreground-color: #20FF89;
    --background-color: #022413;
    --darker-color: #031403;
}

input {
    background-color: var(--darker-color);
    color: var(--foreground-color);
    border: 1px solid var(--foreground-color);
    outline: none;
    padding: 4px;
}

button {
    border: 1px solid var(--foreground-color);
}